services:
  web:
    build: .
    container_name: jurpodbor_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: jurpodbor_db
    environment:
      POSTGRES_DB: jurpodbor
      POSTGRES_USER: jurpodbor_user
      POSTGRES_PASSWORD: jurpodbor_pass
      DATABASE_URL: jurpodbor_url
    ports:
      - "5437:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  mongo:
    image: mongo:6
    environment:
      MONGO_INITDB_ROOT_USERNAME: jurpodbor_user
      MONGO_INITDB_ROOT_PASSWORD: jurpodbor_password
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"
    networks:
      - backend

  redis:
    image: redis:7
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    networks:
      - backend

  opensearch:
    image: opensearchproject/opensearch:2.9.0
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=false
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - opensearchdata:/usr/share/opensearch/data
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: jurpodbor_user
      RABBITMQ_DEFAULT_PASS: jurpodbor_password
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend

  minio:
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: jurpodbor_user
      MINIO_ROOT_PASSWORD: jurpodbor_password
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data
    networks:
      - backend

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
    networks:
      - backend

volumes:
  postgres_data:
  mongodata:
  redisdata:
  opensearchdata:
  miniodata:

networks:
  backend:
    driver: bridge